<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
<style>
ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    max-width: 900px;
    width: 100%;
}
  
ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
}
ul.mylist li, ol.mylist li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
  
ul.mylist li:hover,
ol.mylist li:hover {
    background-color: #f6f6f6;
}
</style>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">환전소</h2>

      <div class="form-group">
        <label for="name" class="col-sm-3 col-form-label"><%= username %>님의 계좌 잔고</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="asset" name="asset" readonly value="<%= user.asset %>원">
    <ul class="mylist">
        <li>CTC$ <%= ctc %> </li>
        <li>MapleStory $ <%= map %></li>
        <li>CAU $ <%= cau %></li>
        <li>SKKU $ <%= skku %></li>
    </ul>

      <h2 class="mb-3">보유 코인 목록</h2>

      <div class="form-group ">
        <label for="name" class="col-sm-3 col-form-label">CTC </label>
          <input class="form-control" type="text" id="asset" name="asset" readonly value="<%= user.hasCTC %>개">

        <label for="name" class="col-sm-3 col-form-label">MapleStory </label>
          <input class="form-control" type="text" id="asset" name="asset" readonly value="<%= user.hasMapleStory  %>개">

        <label for="name" class="col-sm-3 col-form-label">CAU </label>
          <input class="form-control" type="text" id="asset" name="asset" readonly value="<%= user.hasCAU %>개">

        <label for="name" class="col-sm-3 col-form-label">SKKU </label>
          <input class="form-control" type="text" id="asset" name="asset" readonly value="<%= user.hasSKKU %>개">

          <div class="form-group">
            <label for="name" class="col-sm-3 col-form-label"><%= username %>님의 순 자산</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="asset" name="asset" readonly value=" <%= user.asset +  ctc  *  user.hasCTC  +  map  *  user.hasMapleStory +  cau  *  user.hasCAU  +  skku  *  user.hasSKKU %>   원 ">

             


<form action="/users/<%= username %>/assetupdate?_method=put" method="post">
<select name="howmany" id="howmany">
    <script>
    for(i=1;i<101;i++){
      var number;
      number = '<option value="' + i +'">' + i + '주</option>';
     document.write(number);
    }
    </script>
</select>
<select name="whatcoin" id="whatcoin">
    <!-- <option value="">코인선택</option> -->
    <option value="Maplestory <%=map%>">Maplestory</option>
    <option value="CTC <%=ctc%>">CTC</option>
    <option value="CAU <%=cau%>">CAU</option>
    <option value="SKKU <%=skku%>">SKKU</option>
</select>
<select name="whatdo" id="whatdo">
    <option value="buy">구매</option>
    <option value="sell">판매</option>
</select>
<div class="buttons">
  <button type="submit"  class="btn btn-primary" >주문</button>
</div>
</form>
        </div>
      </div>

    </div>
  </body>
</html>